ul img {
    width: 10%;
    height: 10%;
}

.search{
    width: 100%;
    text-align: left;
}

.card{
    float: left;
    width: 50%;
}

.sort{
    width: 100%;
    float: left;
}

.row{
    width: 100%;
}

.export{
    margin-top: 20px;
    margin-bottom: 50px;
}