<!DOCTYPE html>

 <!-- <app-card-details [card]="cards"></app-card-details> -->
 
<div   class="card" style="width: 32rem;">
  <div class="container">
    <div class="row card-header">
      
      <div class="row">
        Image
      </div>
    </div>
  </div>
  <span *ngFor="let card of cards | slice:0:4">
   
      <div class="row">
        

        <div class="col">
           <a routerLink="/details/{{card.id}}" class="container">
             
          <img [src]="card?.image "  alt="No pic available"></a>

        </div>


      </div>
    
    <hr>
  </span>

</div>
<app-export></app-export>