<!DOCTYPE html>

 <!-- <app-card-details [card]="cards"></app-card-details> -->

 <h4>Sort by</h4>

  <select [(ngModel)]="selectedOption" name="option">
    <option *ngFor="let option of options" [ngValue]="option">
      {{option.viewValue}}
    </option>
  </select>
<p>{{selectedOption.value}}</p>
 
<div   class="card" style="width: 32rem;">
  <div class="container">
    <div class="row card-header">
      
      <div class="row">
        Image
      </div>
    </div>
  </div>
  <span *ngFor="let card of cards | slice:0:4; let i = index">
   
      <div class="row">
        

        <div class="col">
           <a routerLink="/details/{{card.id}}" class="container">
             
          <img [src]="card?.image "  alt="No pic available"></a>

        </div>

        <div>
          <!-- delete cards button -->
        <div class="col">
          <button class="btn btn-primary btn-xs" (click)="delete(i)">Delete</button>
        </div>
        </div>


      </div>
    
    <hr>
  </span>

</div>
