

<div class="container-fluid">

  <div *ngIf="card">
    <div class="row">
      <div class="col-sm-6">
  <div class="card text-center mx-auto" style="width: 20rem;">
    <img class="card-img-top" [src]="card?.image"  alt="Card image cap">
    
      </div>
      </div>
      
      
        <div class="col-sm-6">
            <div class="card-body">
               
        <ul class="list-group list-group-flush">
          <h5 class="card-title">Given Name: {{ card.name}} </h5>
          <p class="card-text"><i>Description: </i> {{card.description}} </p>
          <li class="list-group-item">Price in USD: {{card.price.usd}}</li>
          <li class="list-group-item">Price in EUR: {{card.price.euro}}</li>
          <li class="list-group-item">ID: {{card.id}} </li>
        </ul>
      <a href="{{card.uri}}" class="btn btn-primary">See More...</a>
   </div>
</div>
</div>
 
</div>


</div>
